* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Outfit', sans-serif;
    src: url('../fonts/Outfit-VariableFont_wght.ttf');
}

:root {
    --body-color: #121826;
    --body-font: 'Outfit';
    --background-card: #212936;
    --text-color: #9da3ae;
    --header-main: #e5e7eb;
    --background-hand: #fceed8;
    --background-goal: #dee9fc;
    --background-points: #fbe5e6;
    --header-card: #d3d5da;
    --link-footer: #284bce;

}

body {
    font-family: var(--body-font), sans-serif;
    background: var(--body-color);
    font-size: 1rem;
    font-weight: 400;
    background-image: url(../resources/Background_image.svg);

}

.header {
    text-align: center;
    padding: 52px 24px 0 24px;
    color: var(--text-color);
}

h1 {
    font-size: 40px;
    font-weight: 600;
    color: var(--header-main);
    margin-bottom: 24px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--header-main);
    margin-bottom: 26px;
}

.card {
    max-width: 312px;
    border-radius: 15px;
    background-color: var(--background-card);
    color: var(--text-color);
    padding: 24px;
    margin: 0 auto;
}

.icon {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin-bottom: 20px;
}

.hand {
    background-color: var(--background-hand);
}

.goal {
    background-color: var(--background-goal);
}

.points {
    background-color: var(--background-points);
}

.description {
    margin-bottom: 20px;
    color: var(--header-card);
}

.img-card {

    border-radius: 15px;
    overflow: hidden;
}

/* ================  FOOTER  ============== */

footer {
    max-width: 275px;
    margin: 0 auto;
    padding: 3rem 0;
    color: var(--text-color);
}

.attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.attribution p {
    font-weight: 600;
}

.attribution a {
    font-style: italic;
    text-decoration: none;
    color: var(--link-footer);
}

@media screen and (min-width: 640px) and (max-width: 1023px) {

    .main {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 48px;
    }

    .card {
        margin: 0;
    }

}

@media screen and (min-width: 1024px) {
    .main {
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 52px;
    }

    .card {
        margin: 0;
    }
}